In [1]:
!wget "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-12.parquet"

--2024-02-12 02:19:54--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-12.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 13.32.192.124, 13.32.192.2, 13.32.192.190, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|13.32.192.124|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1519259 (1.4M) [binary/octet-stream]
Saving to: ‘green_tripdata_2022-12.parquet’

green_tripdata_2022 100%[===================>]   1.45M  --.-KB/s    in 0.03s

2024-02-12 02:19:55 (44.9 MB/s) - ‘green_tripdata_2022-12.parquet’ saved [1519259/1519259]

In [1]:
import pandas as pd

In [2]:
df=pd.read_parquet("green_tripdata_2022-12.parquet")

In [4]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-12-01 00:32:58,2022-12-01 00:37:38,N,1.0,166,24,2.0,0.77,5.5,0.5,0.5,1.0,0.0,None,0.3,7.8,1.0,1.0,0.0
1,1,2022-12-01 00:26:49,2022-12-01 00:31:07,N,1.0,74,41,1.0,0.60,5.0,0.5,0.5,0.0,0.0,None,0.3,6.3,2.0,1.0,0.0
2,1,2022-12-01 00:20:23,2022-12-01 00:49:36,N,1.0,260,17,1.0,0.00,22.2,0.0,0.5,0.0,0.0,None,0.3,23.0,1.0,1.0,0.0
3,2,2022-12-01 00:20:23,2022-12-01 00:28:46,N,1.0,80,256,1.0,1.71,8.0,0.5,0.5,0.0,0.0,None,0.3,9.3,2.0,1.0,0.0
4,2,2022-12-01 00:09:12,2022-12-01 00:13:39,N,1.0,179,179,1.0,0.62,5.0,0.5,0.5,4.0,0.0,None,0.3,10.3,1.0,1.0,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72439 entries, 0 to 72438
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               72439 non-null  int64
 1   lpep_pickup_datetime   72439 non-null  datetime64[us]
 2   lpep_dropoff_datetime  72439 non-null  datetime64[us]
 3   store_and_fwd_flag     65364 non-null  object
 4   RatecodeID             65364 non-null  float64
 5   PULocationID           72439 non-null  int64
 6   DOLocationID           72439 non-null  int64
 7   passenger_count        65364 non-null  float64
 8   trip_distance          72439 non-null  float64
 9   fare_amount            72439 non-null  float64
 10  extra                  72439 non-null  float64
 11  mta_tax                72439 non-null  float64
 12  tip_amount             72439 non-null  float64
 13  tolls_amount           72439 non-null  float64
 14  ehail_fee              0 non-null      object
 15  improvement_surcharge  72439 non-null  float64
 16  total_amount           72439 non-null  float64
 17  payment_type           65364 non-null  float64
 18  trip_type              65357 non-null  float64
 19  congestion_surcharge   65364 non-null  float64
dtypes: datetime64[us](2), float64(13), int64(3), object(2)
memory usage: 11.1+ MB